
*{
    font-family: Arial, sans-serif;
}
h5{
    color: ligthgray;
    display: inline-block;
}

a img {
    width: 100px;
    height: 30px;
    padding-left: 15px;
}

nav {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: space-between;

}

.search {
    background-image: url("search.svg");
    margin-left: 0;
    padding-top: 10px;
}

form input {
    width: 600px;
    height: 30px;
    
}


#video {
    background-image: url("camera.svg");
    
}

#apps {
    background-image: url("squares.svg");
}
#settings{
    background-image: url("bell.svg");
}
#menu{
    background-image: url("menu.svg");
}
#like{
    background-image: url("like.svg");
    color: gray;
}

#dislike{
    background-image: url("dislike.svg");
    color : gray;
}
#subscribe{
    width: 150px;
    height: 30px;
    background-color: red;
    text-emphasis-color: white;
    font-size: 20px;
}

#video_options{
    float: right;
    padding: 0 25px;

}

.search, #video, #apps, #settings, #menu, #like, #dislike{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    padding: 0 15px;
    padding-top: 10px;
}

main{
    padding: 50px 80px;
    width: 1200px;
}

iframe{

    width: 1200px;
    height: 600px;
}