* {
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(250, 248, 248);
}

h5 {
    color: ligthgray;
    display: inline-block;
}

a img {
    width: 100px;
    height: 30px;
    padding-left: 15px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 50px;
    margin-left: 0;
}

#nav_left, form, nav_right {
    display: flex;
}

#nav_center {
    background-color: lightgrey;
    border: 0.5px;
    border-radius: 0 2px 2px 0;
}

.search {
    background-image: url("search.svg");
    margin-left: 0;
    padding-top: 10px;
}

form input {
    width: 600px;
    height: 30px;
}

#video {
    background-image: url("camera.svg");
}

#apps {
    background-image: url("squares.svg");
}

#settings {
    background-image: url("bell.svg");
}

#menu {
    background-image: url("menu.svg");
}

#like {
    background-image: url("like.svg");
    color: gray;
    margin: 0 10px;
}

#dislike {
    background-image: url("dislike.svg");
    color : gray;
    margin: 0 10px;
}

#subscribe {
    width: 150px;
    height: 30px;
    background-color: red;
    color: white;
    font-size: 20px;
    float : right;
}

#video_options {
    float: right;
    padding: 0 25px;
    display: inline;
}

.search, #video, #apps, #settings, #menu, #like, #dislike, #save, #share {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    padding: 0 15px;   
}

#share {
    background-image: url("share.svg");
}

main {
    margin-top: 50px;
    margin-left: 80px;
    width: 60%;
    float: left;
}

iframe {
    width: 100%;
    height: 600px;
    border: 0;
}

#video_title {
    margin-bottom: 15px;
    border-bottom: solid 1px lightgray;
}

.author {
    padding-left: 10px;
}

#descript_texts {
    width : 800px;
    float : left;
}

aside {
    float: right;
    width: 30%;
    margin-top: 50px;
}

#first-thumbnail {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

#a-header {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-around;
}

#up-next {
    width: 60%;
}

.thumbnail, .description {
    height: 100%;
}

.description {
    width: 50%;
}

.thumbnail {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

span {
    display: flex;
    flex-direction: vertical;
    width: 100%;
}

.title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info {
    font-size: 12px;
    letter-spacing: 0.75px;
    margin-bottom: 10px;
}

#comments {
    margin-top: 10px;
    clear : both;
    min-height: 100px;
}


.each-comment {
    padding-bottom: 100px;
}

#person img {
    border-radius: 40%;
    float: left;
    max-width: 7%;
}

.commentary {
    width: 93%;
    float: right;
}

.commentary span {
    font-size: 13px;
    display: inline;
    padding-right: 5px;
}

.name {
    font-weight: 800;
}
